{
  "service": {
    "name": "<%= @prometheus_project %>-prometheus",
    "port": 81,
    "tags": [
      "traefik.tags=<%= @tag_name %>",
      "traefik.frontend.rule=PathPrefix:/prometheus"
    ],
    "check": {
       "http": "http://localhost:81/prometheus/status",
       "interval": "10s",
       "timeout": "1s"
    }
  }
}
